* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Top navigation bar code*/

.top-nav {
  display: flex;
  justify-content: right;
  width: 100%;
  float:left;
  list-style: none;
  background-color: rgb(30, 29, 29);
  overflow: hidden;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  

}
/* styling for the links in the navigation bar*/

.top-nav a {
  float: left;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.top-nav a:hover {
  background-color: rgb(157, 165, 172);
  color: black;
}

/* About me section*/


.avatar-img {
  display: inline-block;
  float: inline-end;
  position: relative;
  max-width: 50%;
  max-height: 20%;
  padding-top: -30%;
  
  
}
#about {
  padding-top:-30%;
  padding-left: 100px;
  border: 20px;
  margin: 20px;
  font-size: 30px;
  float: inline-end;
}
.intro {
  text-align: center;
}

#about-one {
  padding-top: 50px;
  
}

#about-me {
  text-align: left;
  
}
/* work section */
#work {
  display: grid;
  grid-template-rows: 50px 100px;
  grid-template-columns: 1fr 1fr ;
  gap: 20px;
  height: 400px;
  padding: 10px;
  grid-template-areas: 
  "project-one project-one project-one"
  "project-two project-three"
  "project-four project-five";
  
}
.container {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
  align-items: space-around;
}


#work {
  background-color: violet;
}

#project-one {
  background-color: pink;
  grid-area: project-one;
}
#project-two {
  background-color: aqua;
  grid-area: project-two;
}
#project-three {
  background-color: blueviolet;
  grid-area: project-three;
}
#project-four {
  background-color: brown;
  grid-area: project-four;
}
#project-five {
  background-color: beige;
  grid-area: project-five;
}


